<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Add Student -->
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>AddStudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <!-- Payment -->
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>PaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>

    <!-- Download Receipt -->
    <servlet>
        <servlet-name>DownloadReceiptServlet</servlet-name>
        <servlet-class>DownloadReceiptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadReceiptServlet</servlet-name>
        <url-pattern>/downloadReceipt</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>AllocateServlet</servlet-name>
    <servlet-class>AllocateServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AllocateServlet</servlet-name>
    <url-pattern>/AllocateServlet</url-pattern>
</servlet-mapping>
</web-app>